@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 1.2px black;
    background-color: transparent;
  }

  :root {
    --green: #6CBE50;
    --black: rgb(0, 0, 0);
    --dark: #2B3D52;
    --gray: #f3f3f3;
    --white: #ffffff;
  }

  /* Tamanhos de fonte base */
  html {
    font-size: 16px;
  }

  body {
    @apply text-[16px] lg:text-[18px] font-regular;
  }

  h1 {
    @apply text-[32px] lg:text-[48px] font-medium leading-tight;
  }

  h2 {
    @apply text-[24px] lg:text-[32px] font-medium leading-tight;
  }

  h3 {
    @apply text-[20px] lg:text-[24px] font-medium leading-tight;
  }

  h4 {
    @apply text-[18px] lg:text-[20px] font-medium leading-tight;
  }

  p {
    @apply text-[16px] lg:text-[22px] font-regular leading-relaxed;
  }
}

@layer components {
  .btn-primary {
    @apply bg-green text-black rounded-lg px-[35px] py-5 text-[16px] lg:text-[18px] transition-all duration-200;
  }
  .btn-primary:hover {
    @apply bg-dark text-white transform scale-105;
  }

  .btn-secondary {
    @apply bg-transparent text-black px-[35px] py-5 rounded-lg border border-solid border-black text-[16px] lg:text-[18px] transition-all duration-200;
  }
  .btn-secondary:hover {
    @apply bg-black text-white border-green transform scale-105;
  }

  .btn-tertiary {
    @apply bg-green text-black rounded-lg px-[35px] py-5 text-[16px] lg:text-[18px] transition-all duration-200;
  }
  .btn-tertiary:hover {
    @apply bg-white text-black transform scale-105;
  }

  .greenhead {
    @apply bg-green text-black rounded-[7px] px-[7px];
  }

  .whitehead {
    @apply bg-white text-black rounded-[7px] px-[7px];
  }

  .blackhead {
    @apply bg-black text-white rounded-[7px] px-[7px];
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* markdown style */
.content p {
  @apply my-5 text-[16px] lg:text-[22px];
}

.content h2 {
  @apply my-5 text-[24px] lg:text-[32px] font-semibold;
}

.content h3 {
  @apply my-4 text-[20px] lg:text-[24px] font-semibold;
}