---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="Depoimentos">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Depoimentos"
      description="Confira os depoimentos de nossos franqueados e descubra como a parceria com a Dr. Escritura tem impulsionado seus negócios e transformado suas vidas profissionais."
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-gray">
      <SwiperSlider />
    </div>
  </div>
</Section>
