---
import Section from "./Section.astro";
---

<Section id="HeroCourse" class="px-5 py-12 md:py-16 lg:py-20">
  <div class="max-w-[1280px] mx-auto">
    <div class="flex flex-col items-center text-center">
      
      <!-- Pequeno texto superior -->
      <p class="text-[16px] lg:text-[24px] font-regular">
        Um produto <span class="font-semibold text-green">Dr Escritura</span>
      </p>

      <!-- Espaçamento 16px mobile / 32px desktop -->
      <div class="mt-4 lg:mt-8"></div>

      <!-- Título principal -->
      <h1 class="text-[24px] lg:text-[32px] font-regular max-w-5xl">
        Torne-se um <span class="font-semibold">regularizador de imóveis</span> e <br class="hidden lg:block" /> <span class="font-semibold">fature de R$3.000 a R$15.000</span> por projeto.
      </h1>

      <!-- Espaçamento 16px mobile / 32px desktop -->
      <div class="mt-4 lg:mt-8"></div>

      <!-- H2 descritivo -->
      <h2 class="text-[20px] lg:text-[28px] font-regular max-w-4xl">
        Descubra como se tornar um <span class="font-semibold">Regularizador de Imóveis</span> e construir uma carreira sólida em um <span class="font-semibold">mercado que movimenta R$ 2.000.000.000,00 anualmente</span>
      </h2>

      <!-- Espaçamento dobrado: 32px mobile / 64px desktop -->
      <div class="mt-8 lg:mt-16"></div>

      <!-- Botão -->
      <a href="#" class="text-[16px] lg:text-[24px] font-regular bg-green text-black px-8 py-4 lg:px-10 lg:py-5 rounded-lg hover:bg-dark hover:text-white transition-all duration-200">
        Acesse o Curso
      </a>

    </div>
  </div>
</Section>