---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex flex-col md:grid md:grid-cols-2 bg-[#F3F3F3] rounded-[45px] p-8 md:p-[60px] gap-12 items-center mt-[123px] mb-[163px]"
    >
      <div class="flex flex-col justify-center gap-[26px] md:pr-8">
        <h2 class="text-3xl font-medium leading-tight">
          Confira nossos cursos!
        </h2>
        <p class="text-gray-700 leading-relaxed">
          Descubra como a carreira de regularizador de imóveis pode transformar sua trajetória profissional, oferecendo um modelo de atuação comprovado e suporte completo para que você atue com segurança, eficiência e resultados consistentes no mercado imobiliário.
        </p>
        <button class="btn-primary w-fit">Conferir</button>
      </div>

      <picture class="flex justify-center items-center">
        <Image
          src={propImg}
          alt="Isto é uma imagem"
          class="w-full h-auto object-contain rounded-[45px]"
        />
      </picture>
    </div>
  </Card>
</Section>
