---
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
---

<Section>
  <Card>
    <div
      class="flex flex-col bg-gray rounded-[45px] p-8 md:p-[60px] gap-8 md:gap-12 items-center text-center"
    >
      <!-- Título principal -->
      <h1>
        POR QUE AGIR AGORA É SUA ÚNICA OPÇÃO
      </h1>

      <!-- Conteúdo -->
      <div class="flex flex-col gap-6">
        
        <p>
          Olha, vou ser direto com você...
        </p>

        <p class="regular">
          Toda grande oportunidade tem uma "janela".
        </p>

        <p class="text-green regular text-[20px] md:text-[28px] lg:text-[32px]">
          A janela da Regularização de Imóveis está ABERTA agora.
        </p>

        <p>
          Em 5 anos, quando todo mundo descobrir essa oportunidade, você quer estar entrando no mercado ou dominando ele?
        </p>

        <p class="regular text-[20px] md:text-[24px] lg:text-[28px] mt-4">
          A escolha é sua.
        </p>

      </div>

    </div>
  </Card>
</Section>