---
import InfoEbook from "@/components/sections/InfoEbook.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeroEbook from "@/components/sections/HeroEbook.astro";
import InfoWillEbook from "@/components/sections/InfoWillEbook.astro";
import EbookPrice from '@/components/sections/Ebookprice.astro';
import DykEbook from'@/components/sections/DykEbook.astro';
import finalEbook from '@/components/sections/finalEbook.astro';
---

<MainLayout
  hideNavbar={true}
  title="Ebook Regularizador de Imóveis"
  description="Código da Regularização">
  
  <!-- Meta Pixel Code específico para Ebook -->
  <Fragment slot="head">
    <script is:inline>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1273098338177434');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1273098338177434&ev=PageView&noscript=1" />
    </noscript>
  </Fragment>
  <!-- End Meta Pixel Code -->

  <HeroEbook/>
  <InfoEbook/>
  <InfoWillEbook/>
  <EbookPrice/>
  <DykEbook/>
  
  <!-- Respiro branco -->
  <div class="respiro"></div>
</MainLayout>

<style>
  .respiro {
    height: 80px;
    background: white;
  }
  
  @media (max-width: 768px) {
    .respiro {
      height: 40px;
    }
  }
</style>