---
import InfoEbook from "@/components/sections/InfoEbook.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeroEbook from "@/components/sections/HeroEbook.astro";
import InfoWillEbook from "@/components/sections/InfoWillEbook.astro";
import EbookPrice from '@/components/sections/Ebookprice.astro';
import DykEbook from'@/components/sections/DykEbook.astro';
import finalEbook from '@/components/sections/finalEbook.astro';
---

<MainLayout
  hideNavbar={true}
  title="Ebook Regularizador de Imóveis"
  description="Código da Regularização">
  <HeroEbook/>
  <InfoEbook/>
  <InfoWillEbook/>
  <EbookPrice/>
  <DykEbook/>
  
  <!-- Respiro branco -->
  <div class="respiro"></div>
</MainLayout>

<style>
  .respiro {
    height: 80px; /* Ajuste conforme necessário */
    background: white;
  }
  
  @media (max-width: 768px) {
    .respiro {
      height: 40px; /* Menor no mobile */
    }
  }
</style>